<HTML>
<meta name="viewport" content="width=device-width">
<P>
<a href="/club/">Top</a>
</P>
<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}

{% if error_message %}
{{ error_message }}
{% endif %}
<table>
<tr>
    <td><label for="id_username">Username:</label></td>
    <td><input id="id_username" maxlength="254" name="username" type="text" /></td>
</tr>
<tr>
    <td><label for="id_password">Password:</label></td>
    <td><input id="id_password" name="password" type="password" /></td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

<p><a href="/club/create/">Create New Account</a></p>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
